@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');
.slider {
  margin-bottom: 30px;
  position: relative;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  /* color: #fff; */
}
.slider-card {
  background: #fff;
  padding: 0px 0px;
  margin: 50px 15px 35px 15px;
  border-radius: 5px;
  box-shadow: -1px 7px 45px -20px rgb(255 255 255 / 69%);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}
.slider-card img {
  border-radius: 5px 5px 0px 0px;
}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}
.owl-dots .owl-dot.active {
  background: #f44336 !important;
}
.mb-4 > img {
    height: 250px;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(266,0,0,0.7);
}
.layer h3{
    width: 69%;
    font-weight: 500;
    color: #fff;
    font-size: 28px;
    bottom: 0%;
    transform: translateX(77px);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    background-color: #000000db;
    display: inline-block;
    padding: 3px 8px;
}
.layer:hover h3{
    bottom: 45%;
    opacity: 1;
}